*{
    background-color: black;
    
} 
.wholeApp{
    text-align: center;
}

.PowerButton{
       display: "flex";
       height: 40vmin;
  pointer-events: none;
}

.waterIndi{
color: yellow;
background-color: orange;

}

/* .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  } */

.footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;
}
